<%= form_for(@accessory,:html => { :multipart => true}) do |f| %>
  <% if @accessory.errors.any? %>
<div id="error_explanation", class="alert alert-danger alert dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>     
     <h2><%= pluralize(@accessory.errors.count, "error") %> prohibited this accessory from being saved:</h2>

      <ul>
      <% @accessory.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :item %>
    <%= f.text_field :item,class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :platform %>
    <%= f.text_field :platform,class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description,class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :price %>
    <%= f.text_field :price,class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :stock %>
    <%= f.text_field :stock,class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :poster %>
    <%= f.file_field :poster,class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit class: "btn btn-success custom-btn access" %>
  </div>
<% end %>
