<div class="container">
  <div class="row">
      <div class="col-md-3">
       <%= image_tag(@accessory.poster.url, class: "img-responsive")%>
       </div>
       <div class="col-md-9">
         <h2><%= @accessory.item %> (<%= @accessory.platform %>)</h2>
         <p><%= @accessory.description %></p> 
              </div>
        <p>Price: <span class="accessory_price"><%= @accessory.price %></span>
        | <%= link_to 'Back', store_path %>
        </div>
      </div>
    </div>